<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="com.mysql.cj.jdbc.MysqlDataSource" id="ds">
        <property name="url" value="jdbc:mysql://localhost:3306/vali_schema" />
        <property name="user" value="vali" />
        <property name="password" value="123456" />
    </bean>

    <bean class="dao.StudentDao">
        <property name="dataSource" ref="ds" />

        <property name="insert" value="insert into student (nume, grupa, an_studii) values (:nume, :grupa, :an_studii)" />

        <property name="delete" value="delete from student where student_id = :student_id" />

        <property name="update" value="update student set nume = :nume_nou, grupa = :grupa where nume = :nume_vechi" />

        <property name="query" value=
                "SELECT s.student_id, s.nume, s.grupa grupaS, e.examen_id, e.materie, e.data, e.grupa grupaE, n.nota
                 FROM vali_schema.student s
                 INNER JOIN vali_schema.nota_examen n ON s.student_id = n.student_id
                 INNER JOIN vali_schema.examen e ON n.examen_id = e.examen_id
                 WHERE n.nota &lt; :nota OR n.nota IS NULL"/>
    </bean>
</beans>