<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Log In</title>
    </head>
    <body>
        <div>
            <form method="post" action="/login">
                <h2>Please log in</h2>
                <p>
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" placeholder="Username" required="" autofocus="">
                </p>
                <p>
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" placeholder="Password" required="">
                </p>
                <p>
                    <label for="remember-me">Remember Me?</label>
                    <input type="checkbox" id="remember-me" name="remember-me">
                </p>
                <button type="submit">Log in</button>
            </form>

            <h2>Do you not have an account?</h2>
            <button type="button">
                <a href="/register">Register</a>
            </button>
        </div>
    </body>
</html>